/* This file is for your main application css. */
//@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

body {
  margin-top: 32px;
  background: #efefef;
  font-family: 'Avenir Next', Helvetica, Verdana, Arial, sans-serif;
}

#points-mobile {
  width: 60%;
  margin: 20px;;
  display: block;
}

.title {
  width: 80%;
  margin: auto;
}

.msg {
  width: 40%;
  min-height: 4vw;
  margin: auto;
  padding: 5px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .msg {
    width: 80%;
  }
}

.msg .start-button-div {
  text-align: center;
}

.msg .round-message {
  color: red;
  font-weight: bold;
}

.startButton {
  box-shadow:inset 0px 1px 0px 0px #cf866c;
  background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color:#d0451b;
  border-radius:3px;
  border:1px solid #942911;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #854629;
}
.startButton:hover {
  background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color:#bc3315;
}
.startButton:active {
  position:relative;
  top:1px;
}

.container {
  margin: auto;
}

.board {
  margin: auto;
  width: 55vw;
  height: 55vw;
  border-radius: 7px;
  border: 2px solid #000000;
}

@media only screen and (max-width: 600px) {
  .board {
    width: 85vw;
    height: 85vw;
  }
}

.card {
    width: 20%;
    height: 20%;
}

.card a {
    display: block;
    width: 100%;
    height: 100%
}

/* entire container, keeps perspective */
.flip-container {
perspective: 1000px;
    width: 100%;
    height: 100%
}
/* flip the pane when hovered */
//.flip-container:hover .flipper,
    .flip-container.hover .flipper { //,
    //.flip-container.flip .flipper {
transform: rotateY(180deg);
}

.flip-container, .front, .back {
width: 100%;
}

/* flip speed goes here */
.flipper {
    height: 100%;
transition: 1s;
transform-style: preserve-3d;
position: relative;
}

/* hide back of pane during swap */
.front, .back {
backface-visibility: hidden;
position: absolute;
top: 0;
left: 0;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #000000;
}

/* front pane, placed above back */
.front {
    background-color: #ba6c6c;
    background-image: url('/images/2020.svg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
z-index: 2;
/* for firefox 31 */
transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
transform: rotateY(180deg);
    --background: lightblue;
}

/* images */
.back.gernika.brush {
    background-image: url('/images/brush.png'), url('/images/gernika.png');
    background-size: 50%, 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.back.kandinsky.brush {
    background-image: url('/images/brush.png'), url('/images/kandinsky.png');
    background-size: 50%, 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.back.monet.brush {
    background-image: url('/images/brush.png'), url('/images/monet.png');
    background-size: 50%, 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.back.rothko.brush {
    background-image: url('/images/brush.png'), url('/images/rothko.png');
    background-size: 50%, 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.back.vangogh.brush {
    background-image: url('/images/brush.png'), url('/images/vangogh.png');
    background-size: 50%, 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.back.gernika.canvas {
    background-image: url('/images/canvas.png'), url('/images/gernika.png');
    background-size: 50%, 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.back.kandinsky.canvas {
    background-image: url('/images/canvas.png'), url('/images/kandinsky.png');
    background-size: 50%, 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.back.monet.canvas {
    background-image: url('/images/canvas.png'), url('/images/monet.png');
    background-size: 50%, 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.back.rothko.canvas {
    background-image: url('/images/canvas.png'), url('/images/rothko.png');
    background-size: 50%, 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.back.vangogh.canvas {
    background-image: url('/images/canvas.png'), url('/images/vangogh.png');
    background-size: 50%, 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.back.gernika.palette {
    background-image: url('/images/palette.png'), url('/images/gernika.png');
    background-size: 50%, 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.back.kandinsky.palette {
    background-image: url('/images/palette.png'), url('/images/kandinsky.png');
    background-size: 50%, 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.back.monet.palette {
    background-image: url('/images/palette.png'), url('/images/monet.png');
    background-size: 50%, 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.back.rothko.palette {
    background-image: url('/images/palette.png'), url('/images/rothko.png');
    background-size: 50%, 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.back.vangogh.palette {
    background-image: url('/images/palette.png'), url('/images/vangogh.png');
    background-size: 50%, 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.back.gernika.roller {
    background-image: url('/images/roller.png'), url('/images/gernika.png');
    background-size: 50%, 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.back.kandinsky.roller {
    background-image: url('/images/roller.png'), url('/images/kandinsky.png');
    background-size: 50%, 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.back.monet.roller {
    background-image: url('/images/roller.png'), url('/images/monet.png');
    background-size: 50%, 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.back.rothko.roller {
    background-image: url('/images/roller.png'), url('/images/rothko.png');
    background-size: 50%, 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.back.vangogh.roller {
    background-image: url('/images/roller.png'), url('/images/vangogh.png');
    background-size: 50%, 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.back.gernika.pencil {
    background-image: url('/images/pencil.png'), url('/images/gernika.png');
    background-size: 50%, 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.back.kandinsky.pencil {
    background-image: url('/images/pencil.png'), url('/images/kandinsky.png');
    background-size: 50%, 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.back.monet.pencil {
    background-image: url('/images/pencil.png'), url('/images/monet.png');
    background-size: 50%, 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.back.rothko.pencil {
    background-image: url('/images/pencil.png'), url('/images/rothko.png');
    background-size: 50%, 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.back.vangogh.pencil {
    background-image: url('/images/pencil.png'), url('/images/vangogh.png');
    background-size: 50%, 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* backgrounds */
.back.vangogh {
    background-image: url('/images/starrynight.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.back.gernika {
    background-image: url('/images/gernika.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.back.kandinsky {
    background-image: url('/images/kandinsky.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.back.monet {
    background-image: url('/images/monet.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.back.rothko {
    background-image: url('/images/rothko.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Copied from elixir-match */
.splash .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.splash .content h1 {
  color: #00ff0a;
  font-size: 1.7em;
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 25px;
  text-transform: uppercase;
  font-family: 'Aclonica', sans-serif;
}

.splash .content h2 {
  color: #ffffff;
  padding-bottom: 20px;
  font-family: 'Aclonica', sans-serif;
}

.splash .content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 425px;
  height: 250px;
  margin: auto;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.9);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
}

.joined {
  padding-top: 20px;
  padding-bottom: 20px;
}

.middle-card {
    background-color: #407bdb;
    font-size: 1.2vw;
    backface-visibility: hidden;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-card .punts {
  font-size: 2.4vw;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .middle-card {
    font-size: 2vw;
  }
  .middle-card .punts {
    font-size: 3vw;
  }
}

.player_points {
  display: inline;
  font-weight: bold;
}

.player_points.current {
  color: green;
}

.player_points.dead {
  color: red;
}

.last_card {
  border-color: DarkOrange;
  border-width: thick;
}
