/* This file is for your main application css. */
//@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

body {
  margin-top: 32px;
  background: #efefef;
  font-family: 'Avenir Next', Helvetica, Verdana, Arial, sans-serif;
}

.container {
  width: 90%;
  margin: auto;
}

.board {
  width: 80vw;
  height: 80vw;
  border-radius: 7px;
  border: 2px solid #000000;
}

.card {
    width: 20%;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 0.5%;
    background-color: #ba6c6c;
    //background-clip: content-box;
    background-image: url('/images/2020.svg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    // background: linear-gradient(red, yellow);
}

.card a {
    display: block;
    width: 100%;
    height: 100%
}
