<section class="phx-hero">
  <h2><%= gettext "Welcome to %{name}!", name: "Memoart" %></h2>
</section>

<section class="row">
  <article class="column">
    <h4>Uneix-te a una partida:</h4>
    <br>
    <form action="play/<%= @game_id %>" phx-change="change_game_id">
      <input type="text" name="game_id" value="Game Name">
      <input type="submit" value="Play!">
    </form>
    <br>
  </article>
</section>

